Source: makenl
Section: admin
Priority: optional
Maintainer: Robert James Clay <jame@rocasa.us>
Build-Depends: debhelper (>= 9.0.0), cmake
Standards-Version: 3.9.8
Vcs-Git: https://git.code.sf.net/p/makenl/code -b debian
Vcs-Browser: https://sourceforge.net/p/makenl/code
Homepage: http://makenl.sourceforge.net

Package: makenl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: open-source Fidonet/FTN nodelist processing program
 makenl is an open-sourced version of MakeNL, the Fido/FTN nodelist
 processing program. It is used to process Fido/FTN nodelists for
 submission to coordinators and/or for creation of nodelist files for
 distribution. It is a near drop-in replacement for an existing
 installation of MakeNL.

Package: makenl-dbg
Architecture: any
Section: debug
Depends: makenl (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for makenl
 makenl is an open-sourced version of MakeNL, the Fido/FTN nodelist
 processing program. It is used to process Fido/FTN nodelists for
 submission to coordinators and/or for creation of nodelist files for
 distribution.
 .
 This package contains the debugging symbols for makenl.
